<% provide(:title, 'Contact Us') %>
    <div class="navbar-wrapper">
      <div class="container">

        <!--Navbar-->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Interngration</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Student Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Recruiter?</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--End Navbar-->

    <h2>Meet the team</h2>

    <!--Team -->
    <div class="row">
      <div class ="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag("gm_cropped.jpg", :class => "circular", alt: "Anirudh Ganti") %>
          <div class ="caption">
            <h3>Anirudh Ganti</h3>
            <p>The motivation to find Interngration came about when he was applying for his PEY placement and career fairs were often clashing with his timetable. With an idea, it wasn't long before he decided to plunge into the world of web programming and Interngration was founded.</p>
          </div>
        </div>
      </div>

       <div class ="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag("hargun_cropped.jpg", :class => "circular", alt: "Hargun Suri") %>
          <div class ="caption">
            <h3>Hargun Suri</h3>
            <p>I am lazy and need to write something about myself.</p>
          </div>
        </div>
      </div>
    </div>

    <h2>Drop us a message</h2>
<div class="container">
  <form class="well span8">
        <div class="row">
            <div class="span3">
                <label>First Name</label> <input class="span3" placeholder=
                "Your First Name" type="text"> <label>Last Name</label>
                <input class="span3" placeholder="Your Last Name" type="text">
                <label>Email Address</label> <input class="span3" placeholder=
                "Your email address" type="text"> <label>Subject</label>
                <select class="span3" id="subject" name="subject">
                    <option selected value="na">
                        Choose One:
                    </option>
    
                    <option value="service">
                        General Customer Service
                    </option>
    
                    <option value="suggestions">
                        Suggestions
                    </option>
    
                    <option value="product">
                        Product Support
                    </option>
                </select>
            </div>
    
            <div class="span5">
                <label>Message</label> 
                <textarea class="input-xlarge span5" id="message" name="message"
                rows="10">
    </textarea>
            </div><button class="btn btn-primary pull-right" type=
            "submit">Send</button>
        </div>
    </form>
</div>






