<li>
	<%= link_to student.fname %>
	<%if current_student.admin? && !current_student?(student)%>
	| <%= link_to "Delete", student, method: :delete,
                                  data: { confirm: "Are you sure?" } %>
	<%end%>
</li>
