<%provide(:title, 'All Students')%>

<h1>All Students</h1>

<%= will_paginate @student, renderer: BootstrapPagination::Rails %>

<ul class="users">
   <% @students.each do |student| %>
    <%= render student %>
  <% end %>

</ul>

<%= will_paginate @student, renderer: BootstrapPagination::Rails %>