<footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>&copy; 2013 Interngration.com &middot; 
  	<%= link_to "Contact", contact_path %> &middot; 
  	<%= link_to "about", about_path %> &middot; 
  	<%= link_to "Privacy", "#" %>	
  </p>
</footer>
